
    <nav class="bg-white shadow mb-20">
      <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize">
          <a routerLink="list" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-200 transform hover:border-blue-500 mx-1.5 sm:mx-6">Shopping List</a>

          <a routerLink="add" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-200 transform hover:border-blue-500 mx-1.5 sm:mx-6">Add New Item</a>

      </div>
  </nav>
  <router-outlet></router-outlet>
